<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
                            <link rel="stylesheet"
                            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                            >
    <title>{{ title }}</title>
    <style>
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
  </style>
</head>
    <body>
        <h1>Выберите раздел:</h1>
        <h2><a class="btn btn-primary " href="/math">Алгебра</a></h2>
        <h2><a class="btn btn-primary " href="/geo">Геометрия</a></h2>
        <h2><a class="btn btn-primary " href="/new">Добавить задачу</a></h2>
    </body>
</html>