<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
                            <link rel="stylesheet"
                            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                            >

    <title>{{ title }}</title>
    <style>
   a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }
  </style>
</head>
    <body>
        <div class="alert alert-primary" role="alert">
        <a href="/" class="alert-link">К ВЫБОРУ РАЗДЕЛА</a>
        </div>
        <h1>Задачи по геометрии:</h1>
        {% set user_list = tasks["geometry"] %}
        <ul>
            {% for user in user_list %}
                <li><h4>{{ user[0] }}</h4>
                    <h3><a class="btn btn-primary " href="/geo/{{ loop.index }}">Перейти к задаче</a></h3>
                </li>
            {% endfor %}

        </ul>

    </body>
</html>